<div class="fearless-ban-slot">
    <img src="/img/placeholder.png" alt="<%= alt %>">
    <svg class="strike-line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
        <path x1="0" y1="100" x2="100" y2="0" stroke="red" stroke-width="1.25" d="M0 40L40 0" />
    </svg>
</div>