<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fearless Draft WR - League of Legends: Wild Rift Fearless Draft Simulator</title>
  <meta name="description"
    content="Simulate League of Legends pick and ban with Fearless Draft featuring Wild Rift characters. Create custom drafts and explore various strategies to improve your drafting skills.">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <script>
    function draftParams() {
      const params = {
        blueTeamName: document.getElementById('blue-team-name').value,
        redTeamName: document.getElementById('red-team-name').value
      }

      isAdvancedSettingsEnabled = document.getElementById("enable-advanced-settings").checked;
      if (isAdvancedSettingsEnabled) {
        params.nicknames = document.querySelectorAll("table#player-nicknames input").values().map(x => x.value).toArray()
        params.pickTimeout = document.getElementById('pick-timeout').value
      }

      return params;
    }

    // Function to create a new draft
    function createDraft() {
      fetch('/create-draft', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(draftParams())
      })
        .then(response => response.json())
        .then(data => {
          let { blueLink, redLink, spectatorLink } = data;
          blueLink = addHostname(blueLink)
          redLink = addHostname(redLink)
          spectatorLink = addHostname(spectatorLink)

          document.getElementById('create-draft').style.display = 'none';
          document.getElementById('draft-links').innerHTML = `
          <div class="link-container blue-link">
            <p>Blue Side Link: <a href="${blueLink}" target="_blank">${blueLink}</a>
              <button class="copy-button" onclick="copy(event, '${blueLink}')">Copy</button>
            </p>
          </div>
          <div class="link-container red-link">
            <p>Red Side Link: <a href="${redLink}" target="_blank">${redLink}</a>
              <button class="copy-button" onclick="copy(event, '${redLink}')">Copy</button>
            </p>
          </div>
          <div class="link-container spectator-link">
            <p>Spectator Link: <a href="${spectatorLink}" target="_blank">${spectatorLink}</a>
              <button class="copy-button" onclick="copy(event, '${spectatorLink}')">Copy</button>
            </p>
          </div>
          <button class="copy-all-button" onclick="copyAllLinks(event)">Copy All Links</button>
        `;
        });
    }

    async function copyAllLinks(event) {
      // TODO: Can be fragile. Relies on document order
      const [blueLink, redLink, spectatorLink] = document
        .querySelectorAll("div.link-container a")
        .values()
        .map(x => x.href)
        .toArray()
        
      const content = `Blue Link: ${blueLink}\nRed Link: ${redLink}\nSpec Link: ${spectatorLink}`;

      await copy(event, content);
    }

    async function copy(event, content) {
      await navigator.clipboard.writeText(content)
      setCopiedState(event.target);
    }

    async function setCopiedState(button) {
      button.textContent = "Copied";
      button.setAttribute("disabled", true)
    }

    function addHostname(relativeLink) {
      return `${window.location.origin}${relativeLink}`;
    }
  </script>
</head>

<body>
  <h1 onclick="location.reload()" style="cursor: pointer;">Fearless Draft</h1>

  <div id="create-draft">
    <label for="blue-team-name">Blue Team Name:</label>
    <input type="text" id="blue-team-name" value="Team 1" required>
    <br>
    <label for="red-team-name">Red Team Name:</label>
    <input type="text" id="red-team-name" value="Team 2" required>


    <div id="advanced-settings" class="accordeon">
      <label for="enable-advanced-settings">+ Advanced Settings (Click to expand)</label>
      <input type="checkbox" id="enable-advanced-settings">

      <div class="accordeon-content">
        <label for="pick-timeout">Time to pick/ban (seconds)</label>
        <input type="number" id="pick-timeout" value="30">

        <label>Player Nicknames</label>
        <table id="player-nicknames">
          <tr>
            <td> <input type="text" id="blue-top" placeholder="Player 1"> </td>
            <td> <img src="/img/top_icon.png" alt="Top" class="role-icon"> </td>
            <td> <input type="text" id="red-top" placeholder="Player 6"> </td>
          </tr>
          <tr>
            <td> <input type="text" id="blue-jungle" placeholder="Player 2"> </td>
            <td> <img src="/img/jg_icon.png" alt="Jungle" class="role-icon"> </td>
            <td> <input type="text" id="red-jungle" placeholder="Player 7"> </td>
          </tr>
          <tr>
            <td> <input type="text" id="blue-mid" placeholder="Player 3"> </td>
            <td> <img src="/img/mid_icon.png" alt="Mid" class="role-icon"> </td>
            <td> <input type="text" id="red-mid" placeholder="Player 8"> </td>

          </tr>
          <tr>
            <td> <input type="text" id="blue-bottom" placeholder="Player 4"> </td>
            <td> <img src="/img/bot_icon.png" alt="ADC" class="role-icon"> </td>
            <td> <input type="text" id="red-bottom" placeholder="Player 9"> </td>
          </tr>
          <tr>
            <td> <input type="text" id="blue-utility" placeholder="Player 5"> </td>
            <td> <img src="/img/supp_icon.png" alt="Support" class="role-icon"> </td>
            <td> <input type="text" id="red-utility" placeholder="Player 10"> </td>
          </tr>
        </table>
      </div>
    </div>

    <br>
    <button onclick="createDraft()">Create Draft</button>
  </div>

  <div id="draft-links"></div>
</body>

</html>